*{
	box-sizing: border-box;
}
body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
}
header {
	color: white;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position-x: -300px;
	height: 1750px;
	/* display: flex;
	justify-content: center; */
}
.headerlinks {
	/* margin: 0 10px; */
	font-size: 15px;
	color: white;
	padding: 10px;
}
.brand{
	display: flex;
	height: 200px;
	align-items: center;
	top: 0;
	width: 100%;
	left: 0;
}
.brand div{
	margin-left: 50px;
}
nav{
	margin-right: 50px;
	margin-left: auto;
}
h3, h6 {
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Concert One', cursive;
	font-family: 'Audiowide', cursive;
}
.title{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.scroll {
	background-color: white;
	color: black;
	display: flex;
	height: 110px;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
}
.scroll nav{
	margin-right: 50px;
	margin-left: auto;
}
.scroll div {
	margin-left: 50px;
}
.scroll nav a {
	color: black;
}
main {
	margin-top: 275px;
	margin-bottom: 500px;
}
.samplePhoto {
	width: 825px;
	height: 480px;
}
.samplePhoto2 {
	width: 863px;
	height: 593px;
	margin-top: 85px;
}
.firstProj{
	display: flex;
	justify-content: center;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.techused {
	background-color: #f04;
	color: white;
	text-align: center;
	border-radius: 10px;
	width: 150px;
}
a {
	color: #f04;
	font-size: 30px;
	/* padding: 10px 20px; */
	text-decoration: none;
	font-weight: 500;
}
a:hover {
	border-bottom: 3px #f04 solid;
}
.heading span{
	display: none;
	font-weight: 900;
	font-size: 55px;
	color: white;
}
.intro {
	/* margin-top: 1000px; */
	width: 770px;
	margin: 1000px auto 0 auto;
}
.bio span{
	display: none;
	color: white;
}

button {
	padding: 15px 35px;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	margin-bottom: 100px;
}
.need {
	background-color: #f04;
	border: none;
}
.looking {
	background-color: rgba(120, 120, 120,0.5);
	border: none;
	margin-left: 10px;
}
title {
	color: #f04;
}
sapmlePhoto2 {

}
/* span {
	margin-left: -25px;
	font-size: 30px;
	color: #f04;
	display: inline;
} */
.bottomnav {
	display: flex;
	flex-direction: row;
	/* position: fixed; */
	width: 100%;
	background-color: #f04;
	padding: 10px 0;
	text-align: center;
	clip-path: polygon(0 0,100% 100px, 100% 100%,0 100%);
	padding-top: 100px;
	-webkit-clip-path: polygon(0 0,100% 100px, 100% 100%,0 100%);
	height: 400px;
	margin-bottom: 2px;
	color: white;

}
.bottomnav div{
	margin-left: 50px;
	text-align: left;
}
.social{
	display: flex;
	flex-direction: column;
}
footer{
	bottom: 0;
	background-color: #f04;
	height: 70px;
	text-align: center;
	color: white;
}
.socialmedia{
	width: 25px;
	height: 25px;
}
p {
	line-height: 30px;
}
section img{
	border-radius: 50%;
	width: 180px;
	height: 180px;
	margin-right: 40px;
	border: solid #f04 2px;
}
section {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	align-items: center;
}
/* p a{
	color: black;
	text-decoration: none;
} */
@media only screen and ( min-width: 600px ){
	header {
		/* height: 300px; */
	}
	/* .intro {
		width: 770px;
		margin: 200px auto 0 auto;
	} */
}