.firstProj{
	display: flex;
	flex-direction: column;
}
main{
	display: flex;
	flex-direction: column;
}
@media only screen and (min-width: 768px ){
	body {
		font-family: 'Quicksand', sans-serif;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		}
	header {
		color: white;
		background-image: url("../images/background.jpg");
		background-size: cover;
		height: 800px;
	}
	main {
		margin-top: 150px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		height: 1000px;
	}
	.title {
		width: 800px;
		margin: 0 auto;
	}
	.brand {
		float: left;
		height: 100px;
	}
	.samplePhoto {
		width: 630px;
		height: 370px;
		/* display: none; */
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
	}
	p a{
		color: black;
		margin-left: -20px;

	}
	a {
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		font-weight: 500;
	}
	a:hover {
		border-bottom: 3px #f04 solid;
	}
	h3, h6 {
		text-transform: uppercase;
		font-family: 'Quicksand', sans-serif;
		font-family: 'Concert One', cursive;
		font-family: 'Audiowide', cursive;
	}
	h6 {
		margin-bottom: 200px;
	}
	.heading span{
		display: none;
		font-weight: 900;
		font-size: 55px;
		color: white;
	}
	.heading {
		margin-top: 300px;
		/* white-space: nowrap;
		overflow: hidden;
		width: 655px;
		animation: type 4s steps(60, end); */
	}
	.bio span{
		display: none;
		color: white;
	}
	/* @keyframes type{ 
		from { width: 0; } 
	  }  */
	button {
		padding: 15px 35px;
		border-radius: 5px;
		color: white;
		font-size: 20px;
		margin-bottom: 100px;
	}
	.need {
		background-color: #f04;
		border: none;
	}
	.looking {
		background-color: rgba(120, 120, 120,0.5);
		border: none;
		margin-left: 10px;
	}
	span {
		font-size: 30px;
		color: #f04;
		display: inline;
	}
	footer {
		bottom: 0;
		position: fixed;
		width: 100%;
		background-color: #f04;
		padding: 10px 0;
		text-align: center;
	}
	a img {
		width: 25px;
		height: 25px;
	}
	p {
		line-height: 30px;
	}
	section img{
		border-radius: 50%;
		width: 180px;
		height: 180px;
		margin-right: 40px;
		border: solid #f04 5px;
	}
	section {
		display: flex;
		justify-content: center;
		margin-bottom: 100px;
		align-items: center;
	}
	.firstProj{
		margin-top: 55px;
		margin-right: 50px;
		/* display: none; */
	}
	.techused {
		background-color: #f04;
		color: white;
		text-align: center;
		border-radius: 10px;
		width: 150px;
	}
	
}